version: '3.8'

services:
  mongo:
    image: mongo:latest
    restart: always
    build:
      context: .
      dockerfile: exchange-data-db/Dockerfile
    environment:
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_password.txt
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/mongo_user.txt
      -MONGO_INITDB_DATABASE: admin
      MONGO_PASSWORD_FILE: /run/secrets/mongo_password.txt
      MONGO_USERNAME_FILE: /run/secrets/mongo_user.txt
      MONGO_DATABASE: exchange_rates
    secrets:
        - mongodb_root_password
        - mongodb_root_username
        - mongodb_password
        - mongodb_username
    ports:
      - "27017:27017"
    expose:
      - 27017
    networks:
      - microservices

  data_processor:
    depends_on:
      - mongo
    build:
      context: .
      dockerfile: data_processor/Dockerfile
    image: data_processor
    networks:
            - microservices
    ports:
      - "5099:5099"

    expose:
      - 5000

  alerts_monitor:
    depends_on:
      - mongo
    build:
      context: .
      dockerfile: alerts_monitor/Dockerfile
    image: alerts_monitor
    networks:
            - microservices
    ports:
      - "4001:4001"
    expose:
      - 4000

  alerts_handler:
    depends_on:
      - alerts_monitor
      - zookeeper-1
      - kafka-1
    build:
      context: .
      dockerfile: alerts_handler/Dockerfile
    image: alerts_handler
    networks:
      - microservices
    ports:
      - "7020:7020"
    expose:
      - 7000

  zookeeper-1:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

    ports:
      - "22181:2181"

    networks:
      - microservices

  kafka-1:
      image: confluentinc/cp-kafka:latest
      depends_on:
        - zookeeper-1

      ports:
        - "9092:9092"
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092,PLAINTEXT_HOST://localhost:9095
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      networks:
        - microservices

#running only one kafka MQ for now
#  zookeeper-2:
#      image: confluentinc/cp-zookeeper:latest
#      environment:
#        ZOOKEEPER_CLIENT_PORT: 2181
#        ZOOKEEPER_TICK_TIME: 2000
#
#      ports:
#        - "2181:2181"
#
#      networks:
#        - microservices

#running only one kafka MQ for now
#  kafka-2:
#      image: confluentinc/cp-kafka:latest
#      depends_on:
#        - zookeeper-1
#        - zookeeper-2
#
#      ports:
#        - "9095:9095"
#      environment:
#        KAFKA_BROKER_ID: 2
#        KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2181
#        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:9092,PLAINTEXT_HOST://localhost:9095
#        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
#        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#
#      networks:
#        - microservices

secrets:
      mongodb_root_password:
        file: ../project_keys/currency_exchange/mongo_password.txt
      mongodb_root_username:
        file: ../project_keys/currency_exchange/mongo_user.txt
      mongodb_password:
        file: ../project_keys/currency_exchange/mongo_password.txt
      mongodb_username:
        file: ../project_keys/currency_exchange/mongo_user.txt

networks:
      microservices:

