currency_change_threshold: 0.0001

exchange_api_fetch_interval_seconds: 5
exchange_api_uri: https://api.exchangerate.host/

target_currency_codes: ['EUR', 'CHF', 'GBP', 'AUD']
base_currency: USD

mongo:
  collection_name: exchange_rates
  db_uri: mongodb://mongo:27017/
  user: /run/secrets/mongo_user.txt
  password: /run/secrets/mongo_password.txt

kafka:
  bootstrap_servers: ['kafka-1:9092']
