currency_change_threshold: 0.0001

exchange_api_fetch_interval_seconds: 5
exchange_api_uri: https://api.exchangerate.host/

#change this to your endpoint address
webhook_endpoint: "https://webhook.site/88f80d7e-75fa-4261-9a05-0d22443012c6"

target_currency_codes: ['EUR', 'CHF']
base_currency: USD

mongo:
  collection_name: exchange_rates
  db_uri: mongodb://mongo:27017/
  user: /run/secrets/mongo_user.txt
  password: /run/secrets/mongo_password.txt

kafka:
  bootstrap_servers: ['kafka-1:9092']
